{%load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href={%static 'resume/css.css' %}>
<div class="container">
<div id="name">
  <h2>RESHMA MANAVALAN</h2>
</div>
<div id="pdf">
<button type="button" name="button"><a href="{% static 'resume/resume.pdf'%}">RESUME PDF</a></button><br>
<a href="mailto:reshmamanavalan@gmail.com">reshmamanavalan@gmail.com</a>
</div> <br>
<br>
<hr class="line">
<div id="topics">
  <h5><b>EDUCATIONAL QUALIFICATION:</b></h5></div>
  <div id="edu">
  <p><b> BE-CSE[pursuing] </b>:SRM Valliammai Engineering College,kancheepuram.<b>CGPA:8.0</b></p>
  <p><b> HSC </b>:Cheran Matriculation Higher Secondary School,Vennamalai.<b>PERCENTAGE:89</b></p>
  <p><b> SSC </b>:Cheran Matriculation School,Ramakrishnapuram.<b>PERCENTAGE:95</b></p>
</div>
<hr class="line">
<div id="topics">
  <h5><b>SKILLS:</b></h5></div>
  <div id="topic">
    <b>Techincal skills</b>
    <li>C Programming</li>
    <li>Java</li>
    <li>Python</li>
  </div>
  <div id="right">
  <b>Area of interest</b>
  <li>DBMS</li>
  <li>Networks</li>
  <li>Django</li>
  </div><br><br><br><br>
<hr class="line">
<div id="topics">
  <h5><b>WORKSHOP:</b></h5></div>
  <div id="edu">
    <p><li>National level workshop on ‘Machine Learning Algorithms and its application in medical field’.</li></p>
    <p><li>World record workshop event on ‘IOT Hackathon’.</li></p>
    <p><li>‘Tamil Computing ’ workshop conducted by CSI and Tamil Mandram.</li></p>
</div>
<hr class="line">
<div id="tec">
  <h6><b>INTERNSHIP AND IMPLANT TRAINING:</b></h6></div>
  <div id="edu">
    <p><li>Inplant training on ‘Oracle’ at Tamilnadu Newsprint and Paper Limited(TNPL).</li></p>
    <p><li>Internship on ‘Networking(CCNA)’ at Kaashiv Infotech.</li></p>
  </div>
  <hr class="line">
  <div id="tec">
    <h5><b>CERTIFICATION:</b></h5></div>
    <div id="t">
      <li>C Programming</li>
      <li>Django</li>
      <li>Python</li>
    </div>
    <div id="right">
    <li>IOT</li>
    <li>Html,CSS</li>
    <li>SQL</li>
    </div><br><br><br>
  <hr class="line">
  <div id="pro">
    <h5><b>PROJECT:</b></h5></div>
    <div id="project">
      <p><b> Image Staganography </b>:Staganography is the process of hiding a secret message in such a way that someone cannot know the content of the hidden message. It is done using Android Studio.</p>
      <p><b> Home Automation </b>:A device which contains various sensors that will control and monitor the whole home. It is done using IOT.</p>
    </div>
    <hr class="line">


  </div>
